/* Google-font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* ----------
Google-font-end 
-------------*/
/* Comon-tag */
body{
    width: 1260px;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
    margin-top: 50px;
}
/*-----------
 comon-end 
 ------------*/
/* secetion-start */
.contanar{
    width: 1050px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    background: #161616;
    border-radius: 30px;
    padding: 100px;
    
}
.secetion-title{
    width: 531px;
    height: 240px;
    justify-items: center;
    align-items: center;
}
.secetion-title h1{
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 700;
}
.secetion-title p{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 35px;
}
.secetion-title a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #DD0000;
    padding: 8px;
    border-radius: 5px;
}
.secetion-title a:hover{
    color: rgb(40, 197, 197);
}
.top-banar img{
    height: 483px;
    margin-top: 17px;
}
/*-----------------------
 secetion-frist-body-end 
------------------------*/
/*-----------------------
 section-secend-body-start 
 ------------------------*/
.match{
   
    height: 230px;
    margin-top: 100px;
    background: #161616;
    border-radius: 10px;
    padding: 13px;
}
.match a{
    color: #161616;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 180px;
    margin-left: 25px;
    padding: 10px;
}
#blog-link{
    background-color: #DD0000;
    color: #FFFFFF;
}
/* blog-start */
.blog-contanar{
    display: flex;
    
}
.blog-title{
    margin-top: 100px;
    margin-left: 14px;
}
.blog{
    width: 300px;
    height: 342px;
    border: 1px solid rgb(214, 209, 209);
    border-radius: 10px;
}
/*------------
 index1.html 
 ------------*/
.flag-banar img{
   width: 100px;
   height: 63px;
}
.flag-banar{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}
.match-info{
    width: 280px;
    height: 250px;
    border: 1px solid rgb(214, 209, 209);
    border-radius: 10px
}
.match-information h2{
    font-size: 20px;
    text-align: center;
}
.match-information p{
    font-size: 16px;
    text-align: center;
}
.match-banar{
    width: 1250px;
    margin-left: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.match-title{
    margin-top: 100px;
    width: 100px;
}
/*-----------
 index.html 
 ------------*/
.blog-banar img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}
.flag-banar h2{
    font-size: 16px;
}
.blog-info{
    padding: 10px;
}
.blog-info a{
    color: #161616;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #161616;
    padding: 4px;
    border-radius: 5px;
}
.blog-info h2{
    font-size: 16px;
}
.fa-clock{
  color: #524e4e;
}
.fa-clock span{
    margin-left: 10px;
}
.fa-comment-dots{
    margin-left: 30px;
}
.fa-comment-dots span{
    margin-left: 10px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
.view-batton{
    text-decoration: none;
    text-align: center;
    display: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 10px;
    margin-left: 750px;
    border-radius: 5px;
    width: 70px;
    margin-top: 100px;

}
/*--------------- 
footer-start 
---------------*/
footer{
    margin-top: 150px;
    text-align: center;
    background-color: #161616;
    width: 1415px;
    height: 290px;
    padding-top: 100px;
    
}
footer a:hover{
    color: rgb(52, 223, 223);
}
footer h2{
    color: #FFFFFF;
    font-size: 40px;
}
hr{
    width: 1200px;
    border: 1px solid #222121;
}
.support{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.fa-facebook{
    color: #524e4e;
    margin-right: 20px;
    font-size: 30px;
}
.fa-instagram{
    color: #524e4e;
    font-size: 30px;
    margin-right: 20px;
}
.fa-linkedin{
    color: #524e4e;
    font-size: 30px;
}
/*------------
 footer-end 
 -------------*/
 @media screen and (max-width:688px) {
    body{
        width: 100px;
    }
    .contanar{
        width: 180px;
        height: 650px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        overflow: hidden;
    }
    .top-banar img{
        margin-top: 110px;
        height: 400px;
        width: 230px;
    }
    .secetion-title h1{
        width: 200px;
        margin-right: 20px;
        font-size: 22px;
    }
    .secetion-title p{
        width: 200px;
    }
    .top-banar img{
        margin-top: 110px;
        height: 400px;
        width: 230px;
    }
    .secetion-title h1{
        width: 200px;
        margin-right: 20px;
        font-size: 22px;
    }
    .secetion-title p{
        width: 200px;
    }
    .blog-contanar{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .match{
        width: 200px;
        margin-right: 20px;
        background: none;
    }
    .match a{
        border: 1px solid rgb(94, 93, 93);
    }
    .blogs{
        display: grid;
        grid-template-columns: 1fr; 
        margin-right: 10px;
        width: 200px;
    }
    footer{
        width: 385px;
        
        height: 600px;
        margin-left: 8px;
    }
    hr{
        width: 320px;
    }
    footer a{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .footer-banr{
     margin-bottom: 30px;
    } 
    .social-link{
        display: flex;
        margin-left: 140px;
    }
/*---------------------
 media-quary-mobaile-end 
 --------------------*/

/*---------------------
-- media-quary-website-2 
------------------------*/
.match-banar{
    width: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
 }

/* media quares-tsbate */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .contanar {
    width: 555px;
    height: 450px;
    margin-left: 20px;
    
  }
  .secetion-title h1{
    font-size: 40px;
  }
  .top-banar img{
    width: 250px;
     margin-top: 67px;
    margin-left: 50px;
  }
  .blog-contanar{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.match{
    width: 600px;
    height: 150px;
    margin-right: 20px;
    background: none;
    display: flex;
    
    align-items: center;
}
.match a{
    border: 1px solid black;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 100px;
}
#blod-last{
    display: none;
}
footer{
    margin-right: 10px;
    width: 1000px;
    height: 400px;
    
}
hr{
    width: 700px;
}
.view-batton{
    display:flex;
    flex-direction: column;
    margin-left: 280px;
    
}
/*----------------------------------
 media-quary-tablate-website-1-end 
 -----------------------------------*/

/*-----------------------------------
 media-quary-tablate-website-2-start
 ----------------------------------*/
 .match-banar{
    width: 180px;
    display: grid;
    margin-right: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 200px;
 
}
.match-info{
    padding-right: 10px;
}
}